In [23]:
import math
from math import*
import pandas as pd
import numpy as np


def my_sinh(x):
    """ The function uses "(exp(x) - exp(-x))/2 to calculate the hyperbolic sine. 
    The input value is in radians, to convert from degrees to radians degree * pi()/180."""
    return (exp(x) - exp(-x))/2


df_sinh = pd.DataFrame( {'sinh(0)': my_sinh(0), 'sinh(1)': my_sinh(1),
                         'sinh(2)': my_sinh(2)}, index=(['Values']))
print(f'These are the values at for the hyperbolic sine at 0, 1, 2.\n {df_sinh}\n')

These are the values at for the hyperbolic sine at 0, 1, 2.
         sinh(0)   sinh(1)  sinh(2)
Values      0.0  1.175201  3.62686

In [165]:


def my_checker_board(n):
    z = np.ones((n), dtype=float)
    x = np.ones((n), dtype=float)
    np.place(z[1::2], z[1::2]==1, [0])
    np.place(x[::2], x[::2]==1, [0])
    if n == 1:
        m = [z]
    elif n == 2:
        m = np.concatenate(([[z], [x]]), axis=0)
    elif n == 3:
        m = np.concatenate(([[z], [x], [z]]), axis=0)
    elif n == 4:
        m = np.concatenate(([[z], [x], [z], [x]]), axis=0)
    elif n == 5:
        m = np.concatenate(([[z], [x], [z], [x], [z]]), axis=0)
    return (m)


print('At n = 1') 
print(my_checker_board(1), '\n')
print('At n = 2')
print(my_checker_board(2), '\n')
print('At n = 3')
print(my_checker_board(3), '\n')
print('At n = 4')
print(my_checker_board(4), '\n')
print('At n = 5')
print(my_checker_board(5), '\n')

At n = 1
[array([1.])]

At n = 2
[[1. 0.]
 [0. 1.]]

At n = 3
[[1. 0. 1.]
 [0. 1. 0.]
 [1. 0. 1.]]

At n = 4
[[1. 0. 1. 0.]
 [0. 1. 0. 1.]
 [1. 0. 1. 0.]
 [0. 1. 0. 1.]]

At n = 5
[[1. 0. 1. 0. 1.]
 [0. 1. 0. 1. 0.]
 [1. 0. 1. 0. 1.]
 [0. 1. 0. 1. 0.]
 [1. 0. 1. 0. 1.]]

In [159]:
df_board

Arrays    NaN
dtype: object